<div class="ubicacion-container">
    <!-- Flores -->
    <img src="/flor-izquierda.png" class="flor flor-izquierda" />
    <img src="/flor-derecha.png" class="flor flor-derecha" />

    <p class="subtitulo">
        Con alegría queremos compartir contigo lugares celebraremos día especial
    </p>

    <h2 class="titulo">Dónde será nuestro gran día</h2>

    <div class="cards">
        <div class="card">
            <span class="icon">⛪</span>
            <h4>CEREMONIA RELIGIOSA</h4>
            <p>Capilla San Miguel</p>
                            <a
          href="https://www.google.com/maps?q=Salon+de+Eventos+San+Miguel"
          target="_blank"
          class="location-btn"
        >
          Ver ubicación
        </a>
        </div>

        <div class="card">
            <span class="icon">🥂</span>
            <h4>RECEPCIÓN</h4>
            <p>Salón de Eventos San Miguel</p>
                 <a
          href="https://www.google.com/maps?q=Salon+de+Eventos+San+Miguel"
          target="_blank"
          class="location-btn"
        >
          Ver ubicación
        </a>
        </div>
    </div>
</div>
