<div class="ubicacion-container">
  <img src="/flor-izquierda.png" class="flor flor-izquierda" />
  <img src="/flor-derecha.png" class="flor flor-derecha" />

  <p class="subtitulo">
    {{ lang.isEnglish()
      ? 'Below we share the places where we will celebrate our special day.'
      : 'A continuación compartimos contigo los lugares destinados a celebrar nuestro gran día.' }}
  </p>

  <div class="cards">
    <div class="card">
      <span class="icon">⛪</span>
      <h4>{{ lang.isEnglish() ? 'RELIGIOUS CEREMONY' : 'CEREMONIA RELIGIOSA' }}</h4>
      <p>{{ lang.isEnglish() ? 'Catholic Church "San Alberto Magno"' : 'Iglesia Católica "San Alberto Magno"' }}</p>
      <span class="hora-evento">{{ lang.isEnglish() ? '11:00 AM - Mass' : '11:00 AM - Misa' }}</span>
      <a
        href="https://www.google.com/maps/search/Iglesia%20Catolica%20San%20Alberto%20Magno/@-2.02970341,-79.90732671,17z?hl=en"
        target="_blank"
        class="location-btn"
      >
        {{ lang.isEnglish() ? 'View location' : 'Ver ubicación' }}
      </a>
    </div>

    <div class="card">
      <span class="icon">🥂</span>
      <h4>{{ lang.isEnglish() ? 'RECEPTION' : 'RECEPCIÓN' }}</h4>
      <p>Sede social de urbanización Ciudad Colón</p>
      <span class="hora-evento">{{ lang.isEnglish() ? '13:00 PM - Reception' : '13:00 PM - Recepción' }}</span>
      <a
        href="https://maps.app.goo.gl/F2nivRJXzLFif2Ns6"
        target="_blank"
        class="location-btn"
      >
        {{ lang.isEnglish() ? 'View location' : 'Ver ubicación' }}
      </a>
    </div>
  </div>
</div>
