<section id="story" #storySection>
  <div class="story-hero">
    <div class="story-content">
      <p class="intro" [class.visible]="showIntro">
        La continuación de una historia de amor que se dispone a perpetuarse hacia lo interminable.
      </p>

      <h2 class="phrase" [class.visible]="showPhrase">
        Hemos decidido darnos un <span>sí</span> para toda la vida.
      </h2>

      <p class="photo-text" [class.visible]="showPhotoText">
   Comenzamos esta nueva etapa de nuestras vidas con la bendición de Dios, en presencia de nuestras familias y seres queridos.
      </p>
    </div>
  </div>
</section>





